<!-- property binding: parent to child -->
<!-- event binding: child to parent -->

<div class = "container">
    <add-wish-form 
      (addWishEvent) = 'items.push($event)'>        <!--event binding: from wish-filter's component -> app's 'items' property-->
    </add-wish-form> 
  
    <wish-filter            
      [(filter)] = 'filter'>                       <!--two-way event binding: from wish-filter's component -> app's 'filter' property-->
    </wish-filter>
  
    <div class = "row mt-3">                        <!--property binding: assigning data to wish-list's 'wish' property-->
      <div class = "col-sm-4">
        <wish-list 
          [wishes] = 'filteredWishes'>
        </wish-list>
      </div>
    </div>
  </div>